
body {
    margin-top: 10px;
    background-color: #000; 
}

a {
    color: rgba(233,67,53,0.5);
}

p {
    color: rgba(55,51,51,1.0);
}

#text {
    font-size: 20px;
    color: rgba(55,51,51,1.0);
}

footer {
    text-align: center;
}

#first {
    background-color: #000;

}

#bottom-text {
    text-align: center;
}

.row {
    background-color: #000;
    padding-top: 100px
}

ul {
    list-style: none;
    padding:0;
    margin:0;
    color: rgba(213,242,238,0.2);
}

li span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;   
}

.legend{
    margin-right: 100px;
    color: #fff;
}

.legendtwo{
    margin-left: 420px;
    color: #fff;
    margin-top: 30px;
}
.text-muted {
    font-size: 45px;
    text-shadow: -2px -2px #1a4c45;
}
.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('headerimage.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 140px 0;
}

.headline h1 {
    font-size: 120px;
    background: rgba(26,76,69,0.6);
    color: rgba(213,242,238,0.2);
}

.headline h2 {
    font-size: 50px;
    background: rgba(26,76,69,0.6);
    color: rgba(213,242,238,0.4);
}

.featurette {
    overflow: hidden;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}